<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h1>Admin Dashboard</h1>
  <p th:text="${message}"></p>

  <div class="list-group">
    <a href="/admin/countries" class="list-group-item list-group-item-action">Countries</a>
    <a href="/admin/genres" class="list-group-item list-group-item-action">Genres</a>
    <a href="/admin/roles" class="list-group-item list-group-item-action">Roles</a>
    <a href="/admin/users" class="list-group-item list-group-item-action">Users</a>
  </div>
</div>
</body>
</html>