<!-- src/main/resources/templates/admin/countries/edit.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Редактировать страну</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="~{header}"></div>
<div class="container">
  <h1>Редактировать страну</h1>
  <form th:action="@{/admin/countries/update/{id}(id=${country.countryId})}" th:object="${country}" method="post">
    <label for="countryName">Название страны:</label>
    <input type="text" id="countryName" th:field="*{countryName}" required>
    <button type="submit">Сохранить изменения</button>
  </form>
</div>
</body>
</html>