<!-- src/main/resources/templates/admin/countries/list.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Список стран</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script defer src="/js/tooltip.js"></script>
</head>
<body>
<div th:replace="~{header}"></div>
<div class="container">
  <h1>Страны</h1>
  <a href="/admin/countries/new" class="btn btn-add" data-tooltip="Добавить новую страну"><i class="fas fa-plus"></i></a>
  <div class="album-list">
    <div th:each="country : ${countries}" class="album-item">
      <h2 th:text="${country.countryName}"></h2>
      <a th:href="@{/admin/countries/edit/{id}(id=${country.countryId})}" class="btn btn-edit" data-tooltip="Редактировать"><i class="fas fa-edit"></i></a>
      <a th:href="@{/admin/countries/delete/{id}(id=${country.countryId})}" class="btn btn-delete" data-tooltip="Удалить"><i class="fas fa-trash"></i></a>
    </div>
  </div>
</div>
</body>
</html>