<!-- src/main/resources/templates/admin/countries/new.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Создать страну</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="~{header}"></div>
<div class="container">
  <h1>Создать новую страну</h1>
  <form th:action="@{/admin/countries}" th:object="${country}" method="post">
    <label for="countryName">Название страны:</label>
    <input type="text" id="countryName" th:field="*{countryName}" required>
    <button type="submit">Создать страну</button>
  </form>
</div>
</body>
</html>