<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Детали артиста</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="~{header}"></div>
<div class="container">
  <div class="artist-details">
    <div class="artist-info">
      <h1 th:text="${artist.artistName}"></h1>
      <p><strong>Страна:</strong> <span th:text="${artist.artistCountry.countryName}"></span></p>
      <p><strong>Биография:</strong> <span th:text="${artist.artistBio}"></span></p>
    </div>
  </div>

  <h2>Альбомы</h2>
  <div class="album-list">
    <div th:each="album : ${albums}" class="album-item">
      <img th:src="${album.albumImageUrl}" alt="th:text=${album.albumName}">
      <h2 th:text="${album.albumName}"></h2>
      <p th:text="${album.albumArtist.artistName}"></p>
      <a th:href="@{/moderator/albums/{id}(id=${album.albumId})}" class="btn btn-view" data-tooltip="Подробнее"><i class="fas fa-info-circle"></i></a>
      <a th:href="@{/moderator/albums/edit/{id}(id=${album.albumId})}" class="btn btn-edit" data-tooltip="Редактировать"><i class="fas fa-edit"></i></a>
      <a th:href="@{/moderator/albums/delete/{id}(id=${album.albumId})}" class="btn btn-delete" data-tooltip="Удалить"><i class="fas fa-trash"></i></a>
    </div>
  </div>
</div>
</body>
</html>