<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Список артистов</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script defer src="/js/tooltip.js"></script>
</head>
<body>
<div th:replace="~{header}"></div>
<div class="container">
  <h1>Артисты</h1>
  <a href="/moderator/artists/new" class="btn btn-add" data-tooltip="Добавить нового артиста"><i class="fas fa-plus"></i></a>
  <table class="user-table">
    <thead>
    <tr>
      <th>Имя</th>
      <th>Страна</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="artist : ${artists}">
      <td th:text="${artist.artistName}"></td>
      <td th:text="${artist.artistCountry.countryName}"></td>
      <td>
        <a th:href="@{/moderator/artists/{id}(id=${artist.artistId})}" class="btn btn-view" data-tooltip="Подробнее"><i class="fas fa-info-circle"></i></a>
        <a th:href="@{/moderator/artists/edit/{id}(id=${artist.artistId})}" class="btn btn-edit" data-tooltip="Редактировать"><i class="fas fa-edit"></i></a>
        <a th:href="@{/moderator/artists/delete/{id}(id=${artist.artistId})}" class="btn btn-delete" data-tooltip="Удалить"><i class="fas fa-trash"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>