<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать артиста</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="~{header}"></div>
<div class="container">
    <h1>Создать нового артиста</h1>
    <form th:action="@{/moderator/artists}" th:object="${artist}" method="post">
        <label for="artistName">Имя артиста:</label>
        <input type="text" id="artistName" th:field="*{artistName}" required>

        <label for="artistBio">Биография:</label>
        <textarea id="artistBio" th:field="*{artistBio}" required></textarea>

        <label for="artistCountry">Страна:</label>
        <select id="artistCountry" th:field="*{artistCountry}" required>
            <option th:each="country : ${countries}" th:value="${country.countryId}" th:text="${country.countryName}"></option>
        </select>

        <button type="submit">Создать артиста</button>
    </form>
</div>
</body>
</html>