<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Создать трек</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="~{header}"></div>
<div class="container">
  <h1>Создать трек</h1>
  <form th:action="@{/moderator/tracks}" th:object="${track}" method="post">
    <label for="trackName">Название трека:</label>
    <input type="text" id="trackName" th:field="*{trackName}" required>

    <label for="trackDuration">Длительность:</label>
    <input type="text" id="trackDuration" th:field="*{trackDuration}" required>

    <label for="trackDate">Дата:</label>
    <input type="date" id="trackDate" th:field="*{trackDate}" required>

    <label for="trackSongUrl">URL песни:</label>
    <input type="text" id="trackSongUrl" th:field="*{trackSongUrl}" required>

    <label for="trackAlbum">Альбом:</label>
    <select id="trackAlbum" th:field="*{trackAlbum}" required>
      <option th:each="album : ${albums}" th:value="${album.albumId}" th:text="${album.albumName}"></option>
    </select>

    <label for="trackGenre">Жанр:</label>
    <select id="trackGenre" th:field="*{trackGenre}" required>
      <option th:each="genre : ${genres}" th:value="${genre.genreId}" th:text="${genre.genreName}"></option>
    </select>

    <label for="artists">Артисты:</label>
    <select id="artists" th:field="*{artists}" multiple required>
      <option th:each="artist : ${artists}" th:value="${artist.artistId}" th:text="${artist.artistName}"></option>
    </select>

    <button type="submit" class="btn btn-primary">Создать</button>
  </form>
</div>
</body>
</html>