<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Создать альбом</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="~{header}"></div>
<div class="container">
  <h1>Создать новый альбом</h1>
  <form th:action="@{/moderator/albums}" th:object="${album}" method="post" enctype="multipart/form-data">
    <div class="form-row">
      <div class="image-preview" id="image-preview"></div>
      <div class="form-details">
        <label for="albumName">Название альбома:</label>
        <input type="text" id="albumName" th:field="*{albumName}" required>

        <label for="albumReleaseDate">Дата релиза:</label>
        <input type="date" id="albumReleaseDate" th:field="*{albumReleaseDate}" required>
      </div>
    </div>

    <label for="albumArtist">Исполнитель:</label>
    <select id="albumArtist" th:field="*{albumArtist}" required>
      <option th:each="artist : ${artists}" th:value="${artist.artistId}" th:text="${artist.artistName}"></option>
    </select>

    <label for="albumGenre">Жанр:</label>
    <select id="albumGenre" th:field="*{albumGenre}" required>
      <option th:each="genre : ${genres}" th:value="${genre.genreId}" th:text="${genre.genreName}"></option>
    </select>

    <label for="albumDescription">Описание:</label>
    <textarea id="albumDescription" th:field="*{albumDescription}" required></textarea>

    <label for="file">Загрузить изображение:</label>
    <input type="file" id="file" name="file" required>

    <button type="submit">Создать альбом</button>
  </form>
</div>
<script>
  document.getElementById('file').addEventListener('change', function(event) {
    const file = event.target.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = function(e) {
        const img = document.createElement('img');
        img.src = e.target.result;
        img.style.maxWidth = '100%';
        img.style.height = 'auto';
        document.getElementById('image-preview').innerHTML = '';
        document.getElementById('image-preview').appendChild(img);
      };
      reader.readAsDataURL(file);
    }
  });
</script>
</body>
</html>