<!-- src/main/resources/templates/admin/genres/new.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Создать жанр</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="~{header}"></div>
<div class="container">
  <h1>Создать новый жанр</h1>
  <form th:action="@{/admin/genres}" th:object="${genre}" method="post">
    <label for="genreName">Название жанра:</label>
    <input type="text" id="genreName" th:field="*{genreName}" required>
    <button type="submit">Создать жанр</button>
  </form>
</div>
</body>
</html>