<!-- src/main/resources/templates/admin/roles/edit.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Редактировать роль</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="~{header}"></div>
<div class="container">
  <h1>Редактировать роль</h1>
  <form th:action="@{/admin/roles/update/{id}(id=${role.roleId})}" th:object="${role}" method="post">
    <label for="roleName">Название роли:</label>
    <input type="text" id="roleName" th:field="*{roleName}" required>
    <button type="submit">Сохранить изменения</button>
  </form>
</div>
</body>
</html>