<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редактировать пользователя</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h1>Редактировать пользователя</h1>
  <form th:action="@{/users/update/{id}(id=${user.userId})}" th:object="${user}" method="post">
    <div class="form-group">
      <label for="userRole">Роль</label>
      <select id="userRole" th:field="*{userRole}" class="form-control" required>
        <option th:each="role : ${roles}"
                th:value="${role.roleId}"
                th:text="${role.roleName}"
                th:selected="${role.roleId == user.userRole.roleId}"></option>
      </select>
    </div>
    <div class="form-group">
      <label for="userCountry">Страна</label>
      <select id="userCountry" th:field="*{userCountry}" class="form-control" required>
        <option th:each="country : ${countries}"
                th:value="${country.countryId}"
                th:text="${country.countryName}"
                th:selected="${country.countryId == user.userCountry.countryId}"></option>
      </select>
    </div>
    <button type="submit" class="btn btn-warning">Обновить</button>
    <a href="#" th:href="@{/users}" class="btn btn-secondary">Назад</a>
  </form>
</div>
</body>
</html>