<!-- src/main/resources/templates/admin/users/edit.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Редактировать пользователя</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="~{header}"></div>
<div class="container">
  <h1>Редактировать пользователя</h1>
  <form th:action="@{/admin/users/update/{id}(id=${user.userId})}" th:object="${user}" method="post">
    <label for="userPassword">Пароль:</label>
    <input type="password" id="userPassword" th:field="*{userPassword}" required>

    <label for="userRole">Роль:</label>
    <select id="userRole" th:field="*{userRole}" required>
      <option th:each="role : ${roles}" th:value="${role.roleId}" th:text="${role.roleName}" th:selected="${user.userRole.roleId == role.roleId}"></option>
    </select>

    <label for="userCountry">Страна:</label>
    <select id="userCountry" th:field="*{userCountry}" required>
      <option th:each="country : ${countries}" th:value="${country.countryId}" th:text="${country.countryName}" th:selected="${user.userCountry.countryId == country.countryId}"></option>
    </select>

    <button type="submit">Сохранить изменения</button>
  </form>
</div>
</body>
</html>