<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Список пользователей</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h1>Список пользователей</h1>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Логин</th>
      <th>Электронная почта</th>
      <th>Роль</th>
      <th>Страна</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.userId}"></td>
      <td th:text="${user.userLogin}"></td>
      <td th:text="${user.userEmail}"></td>
      <td th:text="${user.userRole.roleName}"></td>
      <td th:text="${user.userCountry.countryName}"></td>
      <td>
        <a th:href="@{/admin/users/edit/{id}(id=${user.userId})}" class="btn btn-warning">Изменить</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>