<!-- src/main/resources/templates/admin/users/new.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Создать пользователя</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="~{header}"></div>
<div class="container">
  <h1>Создать нового пользователя</h1>
  <form th:action="@{/admin/users}" th:object="${user}" method="post">
    <label for="userLogin">Имя пользователя:</label>
    <input type="text" id="userLogin" th:field="*{userLogin}" required>

    <label for="userEmail">Электронная почта:</label>
    <input type="email" id="userEmail" th:field="*{userEmail}" required>

    <label for="userPassword">Пароль:</label>
    <input type="password" id="userPassword" th:field="*{userPassword}" required>

    <label for="userRole">Роль:</label>
    <select id="userRole" th:field="*{userRole}" required>
      <option th:each="role : ${roles}" th:value="${role.roleId}" th:text="${role.roleName}"></option>
    </select>

    <label for="userCountry">Страна:</label>
    <select id="userCountry" th:field="*{userCountry}" required>
      <option th:each="country : ${countries}" th:value="${country.countryId}" th:text="${country.countryName}"></option>
    </select>

    <button type="submit">Создать пользователя</button>
  </form>
</div>
</body>
</html>